.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

div[id*=app] {
    padding: 20px;
    background: #c1c1c1;
    display: block;
    margin-bottom: 10px;
}

.large {
    font-size: 50px;
}

.is-rounded {
    border-radius: 50px;
}

.nav-test ul {
    list-style: none;
}
.nav-test li {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    margin-bottom: 3px;
    border-radius: 2px;
}

.need-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.need-all-center button {
    margin: 10px 0;
}